body {
  background-image: url("../img/teamBG.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.dummy-sec {
  height: 80px;
  /* background: rgb(112, 198, 238); */
}

.main-sec {
  position: relative;
  width: 100%;
  height: 400px;
  /* background: rgb(112, 198, 238); */
}

.smoothSlideContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: rgb(112, 198, 238); */
}

#person img {
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 1;
  -webkit-animation: personslideout 6s ease-in-out infinite;
  animation: personslideout 6s ease-in-out infinite;
}

.bar {
  background-color: #333;
  z-index: 0;
}

.bar2 {
  background-color: #333;
  z-index: 2;
}

#bar1 {
  position: absolute;
  right: 0;
  top: 30%;
  height: 3%;
  width: 50%;
  -webkit-animation: bar1slide 6s ease-in-out infinite;
  animation: bar1slide 6s ease-in-out infinite;
}

#bar2 {
  position: absolute;
  right: 0;
  top: 40%;
  height: 5%;
  width: 60%;
  -webkit-animation: bar2slide 6s ease-in-out infinite;
  animation: bar2slide 6s ease-in-out infinite;
}

#bar3 {
  position: absolute;
  right: 0;
  top: 50%;
  height: 12%;
  width: 40%;
  -webkit-animation: bar3slide 6s ease-in-out infinite;
  animation: bar3slide 6s ease-in-out infinite;
}

#bar4 {
  position: absolute;
  right: 0;
  top: 16%;
  height: 2%;
  width: 30%;
  -webkit-animation: bar4slide 6s ease-in-out infinite;
  animation: bar4slide 6s ease-in-out infinite;
}

#bar5 {
  position: absolute;
  right: 0;
  top: 85%;
  height: 4%;
  width: 30%;
  -webkit-animation: bar5slide 6s ease-in-out infinite;
  animation: bar5slide 6s ease-in-out infinite;
}

#bar6 {
  position: absolute;
  right: 0;
  top: 80%;
  height: 4%;
  width: 55%;
  -webkit-animation: bar6slide 6s ease-in-out infinite;
  animation: bar6slide 6s ease-in-out infinite;
}

#bar7 {
  position: absolute;
  right: 0;
  top: 65%;
  height: 10%;
  width: 25%;
  -webkit-animation: bar6slide 6s ease-in-out infinite;
  animation: bar6slide 6s ease-in-out infinite;
}

#bar8 {
  position: absolute;
  right: 0;
  top: 46%;
  height: 2%;
  width: 35%;
  -webkit-animation: bar6slide 6s ease-in-out infinite;
  animation: bar6slide 6s ease-in-out infinite;
}

@-webkit-keyframes bar1slide {
  0% {
    right: -100%;
  }
  20% {
    right: -2%;
  }
  40% {
    right: 0;
  }
  70% {
    right: -50%;
  }
  100% {
    right: -100%;
  }
}

@keyframes bar1slide {
  0% {
    right: -100%;
  }
  20% {
    right: -2%;
  }
  40% {
    right: 0;
  }
  70% {
    right: -50%;
  }
  100% {
    right: -100%;
  }
}

@-webkit-keyframes bar2slide {
  0% {
    right: -70%;
  }
  30% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  80% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@keyframes bar2slide {
  0% {
    right: -70%;
  }
  30% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  80% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@-webkit-keyframes bar3slide {
  0% {
    right: -70%;
  }
  60% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  80% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@keyframes bar3slide {
  0% {
    right: -70%;
  }
  60% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  80% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@-webkit-keyframes bar4slide {
  0% {
    right: -70%;
  }
  30% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  90% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@keyframes bar4slide {
  0% {
    right: -70%;
  }
  30% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  90% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}
@-webkit-keyframes bar5slide {
  0% {
    right: -70%;
  }
  35% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  70% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}
@keyframes bar5slide {
  0% {
    right: -70%;
  }
  35% {
    right: -2%;
  }
  50% {
    right: 0;
  }
  70% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@-webkit-keyframes bar6slide {
  0% {
    right: -70%;
  }
  45% {
    right: -2%;
  }
  60% {
    right: 0;
  }
  70% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@keyframes bar6slide {
  0% {
    right: -70%;
  }
  45% {
    right: -2%;
  }
  60% {
    right: 0;
  }
  70% {
    right: -70%;
  }
  100% {
    right: -70%;
  }
}

@-webkit-keyframes personslideout {
  0% {
    right: -100%;
  }
  25% {
    right: 0%;
  }
  50% {
    right: 1%;
  }
  100% {
    right: -100%;
  }
}

@keyframes personslideout {
  0% {
    right: -100%;
  }
  25% {
    right: 0%;
  }
  50% {
    right: 1%;
  }
  100% {
    right: -100%;
  }
}

/* team section */

section.team-area {
  padding: 60px 0;
  background: rgb(112, 198, 238);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.team-area .single-item {
  margin-bottom: 30px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-area .item .thumb::after {
  background: #232323 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .team-items .item:hover .thumb::after {
  opacity: 0.7;
}

.team-area .item .thumb .overlay {
  top: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: 1;
}

.team-area .item:hover .thumb .overlay {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.team-area .item .thumb .overlay p {
  color: #ffffff;
}

.team-area .item .thumb .overlay h4 {
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .thumb img {
  opacity: 0.6;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.team-area .info .message {
  height: 50px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.team-area .info .message a {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  box-sizing: border-box;
  color: #ff5a6e;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.team-area .info .message a i {
  font-weight: 500;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: #ff5a6e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.team-area .social li.twitter a {
  background-color: #00b6f1;
}

.team-area .social li.pinterest a {
  background-color: #bd081c;
}

.team-area .social li.facebook a {
  background-color: #3b5998;
}

.team-area .social li.google-plus a {
  background-color: #df4a32;
}

.team-area .social li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .social li.instagram a {
  background-color: #cd486b;
}

/* custom */

.row.team-items {
  margin-bottom: 100px;
}
